src/main/resources/xsd/nonContactDetail.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ons.gov.uk/fwmt/NonContactDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="nonContactDetail">
    <xs:sequence>
      <xs:element name="contactCardLeft" type="xs:string"/>
      <xs:element name="contactDateTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

