src/main/resources/xsd/propertyDetails.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ons.gov.uk/fwmt/PropertyDetails" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="propertyDetails">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="floor" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

